body{
    background-image: url("assets/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

}